aiofile==3.9.0
Authlib==1.7.2
backports.tarfile==1.2.0
beartype==0.22.9
cachetools==7.1.4
caio==0.9.25
cffi==2.0.0
cyclopts==4.21.1
docstring_parser==0.18.0
fastmcp==3.4.4
fastmcp-slim==3.4.4
griffelib==2.1.0
httpx-sse==0.4.3
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jeepney==0.9.0
joserfc==1.7.3
jsonref==1.1.0
jsonschema-path==0.5.0
keyring==25.7.0
mcp==1.28.1
more-itertools==11.1.0
numexpr==2.14.1
openapi-pydantic==0.5.1
opentelemetry-api==1.44.0
pathable==0.6.0
platformdirs==4.10.0
pluggy==1.6.0
PubChemPy==1.0.5
py-key-value-aio==0.4.5
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.13.0
pyperclip==1.11.0
pytest==9.1.1
rich-rst==2.1.0
SecretStorage==3.5.0
sse-starlette==3.4.5
uncalled-for==0.3.2
websockets==16.1.1
