# The wheel is built from pmx commit 0dd5f0a9cdf26109eff98bdfeb4ac4e55353aa76.
future @ file://${RESEARCHCHEMBENCH_SOFTWARE_ROOT}/packages/pmx/packages/future-1.0.0-py3-none-any.whl
pmx @ file://${RESEARCHCHEMBENCH_SOFTWARE_ROOT}/packages/pmx/packages/pmx-0+untagged.1.g0dd5f0a-cp312-cp312-linux_x86_64.whl
